<h1>Listing ideas</h1>


<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col9+from+1Jj-_AyPLWtUHPk9pL0N5HMRtiGFN348gt10AAE83&amp;viz=MAP&amp;h=false&amp;lat=-12.121487934309881&amp;lng=-77.02625299756085&amp;t=1&amp;z=14&amp;l=col9&amp;y=2&amp;tmplt=2&amp;hml=TWO_COL_LAT_LNG"></iframe>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Picture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.name %></td>
    <td><%= idea.description %></td>
    <td><%= idea.picture %></td>
    <td><%= link_to 'Show', idea %></td>
    <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
    <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Idea', new_idea_path %>
