<p id="notice"><%= notice %></p>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAFh5U2zA-vNl-KMTUGpc0LIkWKgiifEps&q=<%= @idea.y %>,<%= @idea.x %>" allowfullscreen>
</iframe>





<p>
  <b>Name:</b>
  <%= @idea.name %>
</p>

<p>
  <b>Description:</b>
  <%= @idea.description %>
</p>

<p>
  <b>Picture:</b>
	<%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %>
</p>

<p>
  <b>X:</b>
  <%= @idea.x %>
</p>
<p>
  <b>Y:</b>
  <%= @idea.y %>
</p>
<p>
  <b>Categoria:</b>
  <%= @idea.category %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
